<mat-toolbar color="primary">
    <span class="logo">Application Médicale</span>
    <span class="spacer"></span>
    <nav mat-tab-nav-bar>
      <a mat-tab-link routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a mat-tab-link routerLink="/patients" routerLinkActive="active">Patients</a>
      <a mat-tab-link routerLink="/forms" routerLinkActive="active">Formulaires</a>
      <a mat-tab-link routerLink="/login" routerLinkActive="active">Se Déconnecter</a>
    </nav>
  </mat-toolbar>